<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #474747;">
    <a id="HeadingOfThePage" class="navbar-brand nav_a Body_Padding_left " onclick="openNav1()" href="">DAILY JOURNAL</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto Body_Padding_right">
        <li class="nav-item"><a class="nav-link nav_a" onclick="openNav1()"  href="/">HOME</a></li>
        <li class="nav-item"><a class="nav-link nav_a" href="/about">ABOUT US</a></li>
        <li class="nav-item"><a class="nav-link nav_a" href="/contact">CONTACT US</a></li>
      </ul>
    </div>
  </nav>