<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Adding Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Adding local stylessheet -->
    <link rel="stylesheet" href="css/styles.css">
    <title><%= HeaderOfThePage %></title>
</head>

<body>  
    <!-- Sidebar -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div> 
    <!-- Main body -->
    <div id="main">
      <!-- Navigation bar -->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #474747;">
        <a id="HeadingOfThePage" class="navbar-brand nav_a Body_Padding_left " onclick="openNav()" href="">DAILY JOURNAL</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto Body_Padding_right">
            <li class="nav-item">
              <a class="nav-link nav_a" onclick="openNav()"  href="#home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_a" href="#AboutUs">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_a" href="#ContactUs">CONTACT US</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- the button used to open/close sidebar -->
    <div class="SpaceDiv"></div>
    <span class="open_close_sidebar_button Body_Padding_left" onclick="openNav()">&#9776; Click</span>
    <!-- Contents of the body -->
    <div class="SpaceDiv"></div>
    <div class="SpaceDiv"></div>
    <h1 class="Body_Padding_left Body_Padding_right"><%= HeaderOfThePage %></h1> 
    <p class="Body_Padding_left Body_Padding_right"><%= StartingContent %></p> 


    <footer>
      <div class="footer">
      <div class="row">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <!-- <li><a href="#"><i class="fa fa-discord"></i></a></li> -->
        </ul>
      </div>
      
      <div class="row">
        <ul>
          <li><a href="#">@Copyright owened by Black_Scorpion_V</a></li>
        </ul>
      </div>
      </div>
      </footer>

    
  </div>

</body>

<!-- Bootstrap Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="js/index.js"></script>
</html>
